h2{
    border-top-left-radius: ;
    color: brown;
    font-size: large;
    text-align: start;
}
h3{
    padding:10px;
    color: red;
    font-size: small;
}
h3{
    padding:10px;
    color: pink;
}
h3{
    color: red;
    font-size: small;
    border: radius 12px; ;
}
h3{
    color:beige;
    align-self: start;
    font-family: initial;
}
h4{
    color: brown;
    font-style: initial;
}
h4{
   color: blueviolet;
   border-bottom: 2px;
   margin:20px;
}
h3{
    padding: 2px;
    color: white;
}

div
{
 padding-right: 0ch;
 display: inline-block;
 display: flex;
 justify-content: end;
 flex-direction: row;
}
body{
    background-color:lightpink;
}


