h1{
    font-size: xx-small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    text-align: center;
}
h2{
    font-style: italic;
    color: blueviolet;
    background-color: beige;
    text-align: center;
}
h3{
    color: aquamarine;
    font-display:red ;
    font-variant: initial;
    text-align: center;
}
